{
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "lf",
        "printWidth": 80,
        "tabWidth": 2,
        "arrowParens": "always",
        "trailingComma": "none",
        "semi": false,
        "useTabs": false
      }
    ],
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "react/no-unknown-property": ["error", { "ignore": [""] }]
  },
  "plugins": [
    "eslint-plugin-tailwindcss",
    "eslint-plugin-prettier",
    "@typescript-eslint/eslint-plugin",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser"
}
